
<div class="clearfix">
   <%= f.label :italiano, t("activerecord.attributes.irregular_verb.italiano", :default => "Italiano"), :class => :label %>
  <div class="input">
    <%= f.text_field :italiano, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :present, t("activerecord.attributes.irregular_verb.present", :default => "Present"), :class => :label %>
  <div class="input">
    <%= f.text_field :present, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :simple_past, t("activerecord.attributes.irregular_verb.simple_past", :default => "Simple past"), :class => :label %>
  <div class="input">
    <%= f.text_field :simple_past, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :past_participle, t("activerecord.attributes.irregular_verb.past_participle", :default => "Past participle"), :class => :label %>
  <div class="input">
    <%= f.text_field :past_participle, :class => 'text_field' %>
  </div>
</div>
<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", irregular_verbs_path %>
</div>
