<h1>Irregular Verbs</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>
      <%= t("activerecord.attributes.irregular_verb.italiano", :default => t("activerecord.labels.italiano", :default => "Italiano")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @irregular_verbs.each do |irregular_verb| -%>
   <tr>
    <td><%= irregular_verb.id %></td>
        <td><%= link_to irregular_verb.italiano, irregular_verb_path(irregular_verb) %>
    </td>
        <td><%= irregular_verb.created_at %></td>
    <td>
      <%= link_to "Show", irregular_verb_path(irregular_verb) %>
      <%= link_to "Edit", edit_irregular_verb_path(irregular_verb) %>
      <%= link_to "Destroy", irregular_verb_path(irregular_verb), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_irregular_verb_path, :class => 'btn btn-primary' %>
